


/*======= Global Styles =======*/


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


/* Custom scrollbar for the left container (Dark Style) */

section.leftContainerSection nav::-webkit-scrollbar {
	width: 14px;
}
 
section.leftContainerSection nav::-webkit-scrollbar-track {
	background: none;
}
 
section.leftContainerSection nav::-webkit-scrollbar-thumb {
	background: #828282;
	border-radius: 8px;
	border: 4px solid #5e5e5e;
}

section.leftContainerSection nav::-webkit-scrollbar-thumb:hover {
	background: #a7a7a7;
}


/* Custom scrollbar for the right container (Light Style) */

::-webkit-scrollbar {
	width: 14px;
}
 
::-webkit-scrollbar-track {
	background: none;
}
 
::-webkit-scrollbar-thumb {
	background: #e8e8e8;
	border-radius: 8px;
	border: 4px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
	background: #a7a7a7;
}



/*======= Containers =======*/


section.leftContainerSection {
	background: #5e5e5e;
	height: 100%;
	width: 240px;
	position: fixed;
	color: #a7a7a7;
	top: 0;
	left: 0;
	z-index: 99;
}

section.rightMainContainer {
	background: #fff;
	width: 100%;
	height: 100%;
	padding: 0 0 0 240px;
	box-sizing: border-box;
	position: absolute;
}



/*======= Left section =======*/


.leftContainerSection .topLogo {
	height: 72px;
	/*border-bottom: 1px solid #a7a7a7;*/
	padding: 0 22px;
	padding-top: 6px;
}

.leftContainerSection .topLogo img {
	height: 52px;
	padding: 10px 0;
}


/* Navigation */

.leftContainerSection nav {
	padding: 12px 0 10px 0;
	overflow-y: scroll;
	height: 80%;
	height: calc(100% - 96px);
}

.leftContainerSection nav dl {
	font-size: 13px;
	margin: 0
}

.leftContainerSection nav dl dt {
	font-weight: 700;
	margin-top: 0;
	padding: 15px 0 15px 22px;
	cursor: pointer;
}

.leftContainerSection nav dl dd {
	margin: 0
}

.leftContainerSection nav dl dd a {
	display: block;
	font-weight: 400;
	letter-spacing: 0.1px;
	padding: 10px 24px 10px 46px;
	white-space: nowrap;
	color: #a7a7a7;
	text-decoration: none;
}

.leftContainerSection nav dl dd a.active {
	color: #e8e8e8;
	font-weight: 500;
}



/*======= Right section main formating =======*/


.rightMainContainer .sectionContent {
	width: 90%;
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 50px;
}

.rightMainContainer .sectionContent h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

.rightMainContainer .sectionContent p {
	color: #212121;
	font-size: 13px;
	line-height: 24px;
	margin: 0 0 .5em;
	max-width: 760px;
}

.rightMainContainer .sectionContent h3 {
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.54);
}



/*======= Right section - COLOR =======*/


.rightMainContainer .sectionContent .colorCardContainer,
.rightMainContainer .sectionContent .subCardContainer {
	width: 100%;
	min-height: 100px;
	margin-bottom: 50px;
}

.rightMainContainer .sectionContent .colorCardContainer .colorCard {
	height: 142px;
	width: 100px;
	padding: 0 15px;
	display: inline-block;
	text-align: center;
}

.rightMainContainer .sectionContent .colorCardContainer .colorCard .colorCircle {
	height: 64px;
	width: 64px;
	border-radius: 50%;
	margin: 15px auto;
}

.rightMainContainer .sectionContent .colorCardContainer .colorCard .secondaryColorCircle {
	height: 52px;
	width: 52px;
	border-radius: 50%;
	margin: 15px auto;
}

.veryDarkGrey {
	background: #5e5e5e;
}

.darkGrey {
	background: #6e6e6e
}

.lightGrey {
	background: #e8e8e8;
}

.mediumGrey {
	background: #a7a7a7;
}

.orangeMedium {
	background: #ff7200;
}

.green {
	background: #2be500;
}

.yellow {
	background: #ffeb3b;
}

.blue {
	background: #1be3e3;
}

.secondaryGreen {
	background: #5ad500;
}

.darkOrange {
	background: #f16c4e;
}

.secondaryOrange {
	background: #ff8d00;
}

.lightRed {
	background: #ff5e5e;
}

.rightMainContainer .sectionContent .colorCardContainer .colorCard .colorName {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	padding: 4px 0;
}

.rightMainContainer .sectionContent .colorCardContainer .colorCard .colorCode {
	font-size: 12px;
	font-weight: 500;
	padding: 2px 0;
	color: #a7a7a7;
}



/*======= Right section - TYPOGRAPHY =======*/


.sectionContent .fontNameTitle {
	border-bottom: 1px dashed #e8e8e8;
	padding: 15px 0;

}

.sectionContent .fontElementTitle {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	color: #a7a7a7;
	padding: 20px 0;
}

.sectionContent .charactersContainer {
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 40px;
    unicode-bidi: bidi-override;
    word-break: break-all;
    word-wrap: break-word;
	margin-bottom: 30px;
}

.ralewayFont {
	font-family: 'Raleway', sans-serif;
}

.robotoFont {
	font-family: 'Roboto', sans-serif;
}

.sectionContent .fontVariantsPreviewContainer {
	font-size: 40px;
	margin-bottom: 50px;
}

.extraLightFont {
	font-weight: 200;
}

.lightFont {
	font-weight: 300;
}

.regularFont {
	font-weight: 400;
}

.mediumFont {
	font-weight: 500;
}

.boldFont {
	font-weight: 700;
}

.blackFont {
	font-weight: 900;
}




















pre .line-number {
	padding: 1em;
	background: #6e6e6e;
	padding-left: 0.5em;
	color: #565656;
	font-weight: 700;
	text-align: right;
	float: left;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

pre .line-number span {
	display:block;
	padding:0 .5em 0 1em;
}

.elementSnippetContainer .hljs {
    padding: 1em;
	background: #6e6e6e;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.elementSnippetContainer .hljs-keyword,
.elementSnippetContainer .hljs-selector-tag,
.elementSnippetContainer .hljs-name,
.elementSnippetContainer .hljs-attr {
    color: #2be500;
}

.elementSnippetContainer .hljs-comment,
.elementSnippetContainer .hljs-deletion,
.elementSnippetContainer .hljs-meta {
    color: #a7a7a7;
}

.elementSnippetContainer .hljs-string,
.elementSnippetContainer .hljs-type,
.elementSnippetContainer .hljs-built_in,
.elementSnippetContainer .hljs-builtin-name,
.elementSnippetContainer .hljs-selector-id,
.elementSnippetContainer .hljs-selector-attr,
.elementSnippetContainer .hljs-selector-pseudo,
.elementSnippetContainer .hljs-addition,
.elementSnippetContainer .hljs-variable,
.elementSnippetContainer .hljs-template-variable,
.elementSnippetContainer .hljs-symbol,
.elementSnippetContainer .hljs-attribute {
    color: #1be3e3;
}

.elementSnippetContainer .hljs-code,
.elementSnippetContainer .hljs-title,
.elementSnippetContainer .hljs-section,
.elementSnippetContainer .hljs-selector-class {
    color: #5ad500;
}